/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Index.html
 */

.homeImage {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url('money.jpg');
}


/* .midShadow:hover,
.midShadow:focus-within{
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
} */

.cover-container {
  /* max-width: 42em; */
}

/*
 * Header
 */

 .navPosition{
   margin-right: 130px;
 }

 .headPosi {
   margin-left: 100px;
 }

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  /* color: rgba(255, 255, 255, .5); */
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: #fff;
}

.bg-img{
  /* background-image: url('transfer.jpg'); */
  background-color: white;
  padding-bottom: 1000px;
  mix-blend-mode: darken;
}

/*  */
/* user.html */  
/*  */

.head{
  margin-top: 100px;
  margin-bottom: 120px;
}

.debit-select{
  margin-bottom: 20px;
}
