{% extends "layout.html" %}
{% block body %}

<h1 class="head">Transfer Money</h1>

<form method="POST" action="{{ url_for('transaction')}}">
    <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label">Debit Account</label>
        <div class="col-sm-4">
            <select class="form-select debit-select" name="debit" aria-label="Default select example" required>
                <option selected>Select Debit Account</option>
                {% for customer in data %}
                <option value="{{customer.sno}}">{{customer.first_name}} {{customer.last_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label">Credit Account</label>
        <div class="col-sm-4">
            <select class="form-select debit-select" name="credit" aria-label="Default select example" required>
                <option selected>Select Credit Account</option>
                {% for customer in data %}
                <option value="{{customer.sno}}" class="col-xs-4">{{customer.first_name}} {{customer.last_name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Amount</span>
            <input type="number" class="form-control" placeholder="Enter amount in Rs" aria-label="Amount" aria-describedby="addon-wrapping" name="amount">
          </div>
    </div>
    <div>
        <button type="button" class="btn btn-success">Success</button>
    </div>
</form>

{% endblock %}